.tag_wrap {
  display: inline-block;
  height: 16px;
  font-size: 12px;
  line-height: 16px;
  padding: 2px 8px;
  background-color: rgba(107, 112, 117, 0.15);
  color: rgba(46, 50, 56, 1);

  .icon {
    color: rgba(46, 50, 56, 1);
    padding-left: 5px;
    cursor: pointer;
  }
}

.tag_size_small {
  padding: 2px 8px;
}
.tag_size_large {
  padding: 4px 8px;
}
