.notification_wrap {
  position: fixed;
  width: 320px;
  border-radius: 6px;
  padding: 16px 12px 16px 20px;
  margin: 20px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 4px 14px rgba(0, 0, 0, 0.1);
}

@keyframes notification {
  0% {
    right: 0;
    top: 0;
    width: 0;
  }
  50% {
    right: 50px;
    width: 320px;
  }
  100% {
    right: 20px;
  }
}
