.auto_complete {
  position: relative;
}
.suggestion_list {
  list-style: none;
  padding-left: 0;
  white-space: nowrap;
  position: absolute;
  background: #fff;
  z-index: 100;
  top: calc(100% + 8px);
  left: 0;
  border: 1px solid #ebe3e3;
  width: 100%;
  .suggstions_loading_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 75px;
  }
  .suggestion_item {
    padding: 10px;
    cursor: pointer;
    &.is_active {
      background-color: #ececec;
    }
    &:hover {
      background-color: #eaeaea;
    }
  }
}
