.input_box {
  display: flex;
  align-items: center;
  & > .input_addon {
    border: 1px solid transparent;
    padding: 0 12px;
    background-color: rgba(46, 50, 55, 0.05);
  }
  .input_content {
    position: relative;
    & > .input_prefix {
      position: absolute;
      left: 0;
      top: 0;
      padding-left: 10px;
    }
    & > .input_suffix {
      position: absolute;
      right: 0;
      top: 0;
      padding-right: 10px;
    }
  }
}

.input_wrap {
  background-color: rgba(46, 50, 55, 0.05);
  border: 1px solid transparent;
  padding: 0 12px;
}

.input_focus {
  &:hover {
    background-color: rgba(46, 50, 56, 0.09);
  }
}

.input_disabled {
  background-color: rgba(46, 50, 55, 0.04);
  color: rgba(28, 31, 36, 0.35);
  cursor: not-allowed;
}

.input_size_large {
  height: 40px;
  line-height: 40px;
  font-size: 16px;
}
.input_size_small {
  height: 24;
  line-height: 24px;
  font-size: 12px;
}
.input_size_default {
  height: 32px;
  line-height: 32px;
  font-size: 14px;
}
