.icon-primary{color:blue}.icon-secondary{color:#6c758d}.icon-success{color:green}.icon-info{color:#17a2b9}.icon-warning{color:#ff0}.icon-danger{color:red}.icon-light{color:#f8f9fb}.icon-dark{color:#343a41}
.input_box{display:flex;align-items:center}.input_box>.input_addon{border:1px solid rgba(0,0,0,0);padding:0 12px;background-color:rgba(46,50,55,.05)}.input_box .input_content{position:relative}.input_box .input_content>.input_prefix{position:absolute;left:0;top:0;padding-left:10px}.input_box .input_content>.input_suffix{position:absolute;right:0;top:0;padding-right:10px}.input_wrap{background-color:rgba(46,50,55,.05);border:1px solid rgba(0,0,0,0);padding:0 12px}.input_focus:hover{background-color:rgba(46,50,56,.09)}.input_disabled{background-color:rgba(46,50,55,.04);color:rgba(28,31,36,.35);cursor:not-allowed}.input_size_large{height:40px;line-height:40px;font-size:16px}.input_size_small{height:24;line-height:24px;font-size:12px}.input_size_default{height:32px;line-height:32px;font-size:14px}.input_showclear .input_suffix:hover{color:blue}
.auto_complete{position:relative}.suggestion_list{list-style:none;padding-left:0;white-space:nowrap;position:absolute;background:#fff;z-index:100;top:calc(100% + 8px);left:0;border:1px solid #ebe3e3;width:100%}.suggestion_list .suggstions_loading_icon{display:flex;align-items:center;justify-content:center;min-height:75px}.suggestion_list .suggestion_item{padding:10px;cursor:pointer}.suggestion_list .suggestion_item.is_active{background-color:#ececec}.suggestion_list .suggestion_item:hover{background-color:#eaeaea}
.banner_wrap{display:flex;align-items:center;justify-content:center;padding:12px}.banner_content{text-align:center;flex:1 1}.banner_title{font-weight:600;font-size:16px}.banner_close_icon{display:flex;padding:4px;margin-left:12px}.banner_close_icon:hover{background-color:rgba(46,50,55,.05)}.banner_info{background-color:#d6f5ff}.banner_warning{background-color:#fff9e8}.banner_danger{background-color:#fff2ec}.banner_success{background-color:#ecf7de}.banner_fullMode{width:640px}.banner_border_info{border:1px solid #98cdfd}.banner_border_warning{border:1px solid #fed998}.banner_border_danger{border:1px solid #fdb7a5}.banner_border_success{border:1px solid #a4e0a7}
.btn_base{display:inline-block;align-items:center;justify-content:center;margin-right:8px;padding:6px 12px;font-weight:600;cursor:pointer;-webkit-user-select:none;user-select:none;line-height:1}.btn_primary{color:#0064fa;background-color:rgba(46,50,56,.05)}.btn_primary:hover{background-color:rgba(46,50,56,.09)}.btn_secondary{color:#0095ee;background-color:rgba(46,50,56,.05)}.btn_secondary:hover{background-color:rgba(46,50,56,.09)}.btn_tertiary{color:rgba(28,31,35,.8);background-color:rgba(46,50,56,.05)}.btn_tertiary:hover{background-color:rgba(46,50,56,.09)}.btn_warning{color:#fc8800;background-color:rgba(46,50,56,.05)}.btn_warning:hover{background-color:rgba(46,50,56,.09)}.btn_danger{color:#f93920;background-color:rgba(46,50,56,.05)}.btn_danger:hover{background-color:rgba(46,50,56,.09)}.solid_primary{color:#fff;background-color:#0064fa}.solid_primary:hover{background-color:#0062d6}.solid_secondary{color:#fff;background-color:#0095ee}.solid_secondary:hover{background-color:#007bca}.solid_tertiary{color:#fff;background-color:rgba(28,31,35,.8)}.solid_tertiary:hover{background-color:#555b61}.solid_warning{color:#fff;background-color:#fc8800}.solid_warning:hover{background-color:#d26700}.solid_danger{color:#fff;background-color:#f93920}.solid_danger:hover{background-color:#d52515}.btn_empty{background-color:rgba(0,0,0,0)}.btn_empty:hover{background-color:rgba(46,50,56,.05)}.btn_large{padding:10px 16px}.btn_small{padding:2px 12px}.btn_disabled{color:rgba(28,31,35,.35);background-color:rgba(46,50,56,.05);box-shadow:none;cursor:not-allowed}.btn_disabled>*{pointer-events:none}.btn_disabled:hover{background-color:rgba(46,50,56,.05)}.btn_block{width:100%;text-align:center}
.modal_mask{position:fixed;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,.45);z-index:999}.modal_wrap{position:fixed;display:flex;flex-direction:column;top:100px;left:50%;-webkit-transform:translateX(-50%);transform:translateX(-50%);background-color:#fff;border-radius:5px;padding:20px;box-sizing:border-box;box-shadow:0 0 1px rgba(0,0,0,.3),0 4px 14px rgba(0,0,0,.1)}.modal_wrap .modal_title{display:flex;justify-content:space-between;font-size:18px;margin-bottom:20px}.modal_wrap .modal_title .icon{cursor:pointer;padding:1px 5px;border-radius:2px}.modal_wrap .modal_title .icon:hover{background-color:#ecebeb}.modal_wrap .modal_content{flex:1 1}.modal_wrap .modal_btn{display:flex;justify-content:flex-end;margin-top:20px}.modal_full{width:100% !important;top:0;left:0;right:0;bottom:0;-webkit-transform:none;transform:none;border-radius:0;box-shadow:none}
/* Document
 * ========================================================================== *//**
 * 1. Correct the line height in all browsers.
 */:where(html) {
  line-height: 1.15; /* 1 */
}/* Sections
 * ========================================================================== *//**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Edge, Firefox, and Safari.
 */:where(h1) {
  font-size: 2em;
  -webkit-margin-after: 0.67em;
          margin-block-end: 0.67em;
  -webkit-margin-before: 0.67em;
          margin-block-start: 0.67em;
}/* Grouping content
 * ========================================================================== *//**
 * Remove the margin on nested lists in Chrome, Edge, and Safari.
 */:where(dl, ol, ul) :where(dl, ol, ul) {
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-margin-before: 0;
          margin-block-start: 0;
}/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Correct the inheritance of border color in Firefox.
 */:where(hr) {
  box-sizing: content-box; /* 1 */
  color: inherit; /* 2 */
  height: 0; /* 1 */
}/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */:where(pre) {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}/* Text-level semantics
 * ========================================================================== *//**
 * Add the correct text decoration in Safari.
 */:where(abbr[title]) {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */:where(b, strong) {
  font-weight: bolder;
}/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */:where(code, kbd, samp) {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}/**
 * Add the correct font size in all browsers.
 */:where(small) {
  font-size: 80%;
}/* Tabular data
 * ========================================================================== *//**
 * 1. Correct table border color in Chrome, Edge, and Safari.
 * 2. Remove text indentation from table contents in Chrome, Edge, and Safari.
 */:where(table) {
  border-color: currentColor; /* 1 */
  text-indent: 0; /* 2 */
}/* Forms
 * ========================================================================== *//**
 * Remove the margin on controls in Safari.
 */:where(button, input, select) {
  margin: 0;
}/**
 * Remove the inheritance of text transform in Firefox.
 */:where(button) {
  text-transform: none;
}/**
 * Correct the inability to style buttons in iOS and Safari.
 */:where(button, input:is([type="button" i], [type="reset" i], [type="submit" i])) {
  -webkit-appearance: button;
}/**
 * Add the correct vertical alignment in Chrome, Edge, and Firefox.
 */:where(progress) {
  vertical-align: baseline;
}/**
 * Remove the inheritance of text transform in Firefox.
 */:where(select) {
  text-transform: none;
}/**
 * Remove the margin in Firefox and Safari.
 */:where(textarea) {
  margin: 0;
}/**
 * 1. Correct the odd appearance in Chrome, Edge, and Safari.
 * 2. Correct the outline style in Safari.
 */:where(input[type="search" i]) {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}/**
 * Correct the cursor style of increment and decrement buttons in Safari.
 */::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}/**
 * Remove the inner padding in Chrome, Edge, and Safari on macOS.
 */::-webkit-search-decoration {
  -webkit-appearance: none;
}/**
 * 1. Correct the inability to style upload buttons in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}/**
 * Remove the inner border and padding of focus outlines in Firefox.
 */:where(button, input:is([type="button" i], [type="color" i], [type="reset" i], [type="submit" i]))::-moz-focus-inner {
  border-style: none;
  padding: 0;
}/**
 * Restore the focus outline styles unset by the previous rule in Firefox.
 */:where(button, input:is([type="button" i], [type="color" i], [type="reset" i], [type="submit" i]))::-moz-focusring {
  outline: 1px dotted ButtonText;
}/**
 * Remove the additional :invalid styles in Firefox.
 */:where(:-moz-ui-invalid) {
  box-shadow: none;
}/* Interactive
 * ========================================================================== *//*
 * Add the correct styles in Safari.
 */:where(dialog) {
  background-color: white;
  border: solid;
  color: black;
  height: -moz-fit-content;
  height: -webkit-fit-content;
  height: fit-content;
  left: 0;
  margin: auto;
  padding: 1em;
  position: absolute;
  right: 0;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
}:where(dialog:not([open])) {
  display: none;
}/*
 * Add the correct display in all browsers.
 */:where(summary) {
  display: list-item;
}body{margin:0;font-family:-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}code{font-family:source-code-pro,Menlo,Monaco,Consolas,"Courier New",monospace}body,html,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,header,menu,section,p,input,td,th,ins{padding:0;margin:0}ul,ol,li{list-style:none}a{text-decoration:none;color:#666}i,em{font-style:normal}input,textarea,button,select,a{outline:none;border:none}table{border-collapse:collapse;border-spacing:0}img{border:none;vertical-align:middle}
.tabs_line{display:flex;align-items:center;border-bottom:1px solid rgba(28,31,35,.22);color:rgba(28,31,35,.62);-webkit-user-select:none;user-select:none}.tabs_line>.tabPane{padding:15px 0;margin-right:30px;cursor:pointer;border-bottom:2px solid rgba(0,0,0,0)}.tabs_line>.tabPane:hover{color:#000;border-bottom-color:#efe9e9}.tabs_line>.tabPane:last-child{margin-right:0}.tabs_line .active{color:#000;font-weight:bold;border-bottom:2px solid blue;cursor:default}.tabs_line .active:hover{border-bottom:2px solid blue}.tabs_button{display:flex;align-items:center;color:rgba(28,31,35,.62);-webkit-user-select:none;user-select:none}.tabs_button>.tabPane{margin-right:8px;padding:8px 12px;cursor:pointer}.tabs_button>.tabPane:hover{color:#000;background-color:rgba(165,170,178,.22)}.tabs_button>.tabPane:last-child{margin-right:0}.tabs_button .active{color:blue;font-weight:bold;background-color:#e0f1fa}.tabs_button .active:hover{color:blue;background-color:#e0f1fa;cursor:default}.tabs_card{display:flex;align-content:center;color:rgba(28,31,35,.62);border-bottom:1px solid rgba(165,170,178,.22);-webkit-user-select:none;user-select:none}.tabs_card>.tabPane{margin-right:8px;padding:8px 12px;cursor:pointer;margin-bottom:-1px}.tabs_card>.tabPane:hover{color:#000;background-color:rgba(165,170,178,.22)}.tabs_card>.tabPane:last-child{margin-right:0}.tabs_card .active{color:#000;font-weight:bold;border:1px solid rgba(165,170,178,.22);border-bottom:1px solid #fff}.tabs_card .active:hover{color:#000;cursor:default}.tabs_vertical_line{display:inline-block;color:rgba(28,31,35,.62);margin-right:20px;border-right:1px solid rgba(165,170,178,.22);-webkit-user-select:none;user-select:none}.tabs_vertical_line>.tabPane{padding:12px;cursor:pointer;border-left:2px solid rgba(0,0,0,0)}.tabs_vertical_line>.tabPane:hover{color:#000;background-color:rgba(165,170,178,.22)}.tabs_vertical_line .active{background-color:#e0f1fa;color:#000;font-weight:bold;cursor:default;border-left:2px solid blue}.tabs_vertical_line .active:hover{background-color:#e0f1fa}.tabs_vertical_card{display:inline-block;color:rgba(28,31,35,.62);margin-right:20px;border-right:1px solid rgba(165,170,178,.22);-webkit-user-select:none;user-select:none}.tabs_vertical_card>.tabPane{padding:8px 12px;cursor:pointer;margin-right:-1px;margin-bottom:8px}.tabs_vertical_card>.tabPane:hover{color:#000;background-color:rgba(165,170,178,.22)}.tabs_vertical_card>.tabPane:last-child{margin-bottom:0}.tabs_vertical_card .active{color:#000;font-weight:bold;cursor:default;border:1px solid rgba(165,170,178,.22);border-right:1px solid #fff}.tabs_vertical_button{display:inline-block;color:rgba(28,31,35,.62);-webkit-user-select:none;user-select:none;margin-right:20px}.tabs_vertical_button>.tabPane{padding:8px 12px;cursor:pointer;margin-bottom:8px}.tabs_vertical_button>.tabPane:hover{color:#000;background-color:rgba(165,170,178,.22)}.tabs_vertical_button>.tabPane:last-child{margin-bottom:0}.tabs_vertical_button .active{color:blue;font-weight:bold;cursor:default;background-color:#e0f1fa}.tabs_vertical_button .active:hover{color:blue;background-color:#e0f1fa}.tabs_content_wrap{padding:12px 0}.tabs_disabled{color:rgba(28,31,35,.35);background-color:rgba(46,50,56,.05);box-shadow:none;cursor:not-allowed !important}.tabs_disabled>*{pointer-events:none !important}.tabs_disabled:hover{color:rgba(28,31,35,.35) !important;background-color:rgba(46,50,56,.05) !important}.tabs_bar_extra{float:right;flex:1 1;text-align:right}.tabs_closable{font-size:20px;margin-left:12px;cursor:pointer}
.tag_wrap{display:inline-block;height:16px;font-size:12px;line-height:16px;padding:2px 8px;background-color:rgba(107,112,117,.15);color:#2e3238}.tag_wrap .icon{color:#2e3238;padding-left:5px;cursor:pointer}.tag_size_small{padding:2px 8px}.tag_size_large{padding:4px 8px}.tag_shape_square{border-radius:0}.tag_shape_circle{border-radius:9999px}

/*# sourceMappingURL=main.510b039e.css.map*/