.modal_mask {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.45);
  z-index: 999;
}

.modal_wrap {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 4px 14px rgba(0, 0, 0, 0.1);

  .modal_title {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    margin-bottom: 20px;

    .icon {
      cursor: pointer;
      padding: 1px 5px;
      border-radius: 2px;
      &:hover {
        background-color: rgb(236, 235, 235);
      }
    }
  }

  .modal_content {
    flex: 1;
  }

  .modal_btn {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }
}

.modal_full {
  width: 100% !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: none;
  border-radius: 0;
  box-shadow: none;
}
