.banner_wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
}

.banner_content {
  text-align: center;
  flex: 1;
}

.banner_close_icon {
  display: flex;
  padding: 4px;
  margin-left: 12px;

  &:hover {
    background-color: rgba(46, 50, 55, 0.05);
  }
}

.banner_info {
  background-color: rgba(214, 245, 255, 1);
}
.banner_warning {
  background-color: rgba(255, 249, 232, 1);
}
.banner_danger {
  background-color: rgba(255, 242, 236, 1);
}
.banner_success {
  background-color: rgba(236, 247, 222, 1);
}

// 非全屏模式
.fullMode {
  width: 640px;
}
