.banner_wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
}

.banner_content {
  text-align: center;
  flex: 1;
}

.banner_title {
  font-weight: 600;
  font-size: 16px;
}

.banner_close_icon {
  display: flex;
  padding: 4px;
  margin-left: 12px;

  &:hover {
    background-color: rgba(46, 50, 55, 0.05);
  }
}

.banner_info {
  background-color: rgba(214, 245, 255, 1);
}
.banner_warning {
  background-color: rgba(255, 249, 232, 1);
}
.banner_danger {
  background-color: rgba(255, 242, 236, 1);
}
.banner_success {
  background-color: rgba(236, 247, 222, 1);
}

// 非全屏模式
.banner_fullMode {
  width: 640px;
}

.banner_border_info {
  border: 1px solid rgba(152, 205, 253, 1);
}
.banner_border_warning {
  border: 1px solid rgba(254, 217, 152, 1);
}
.banner_border_danger {
  border: 1px solid rgba(253, 183, 165, 1);
}
.banner_border_success {
  border: 1px solid rgba(164, 224, 167, 1);
}
